﻿<style type="text/css">
    .header {
        background-color: #3ab44a;
        color: white;
    }

    .item {
        padding-left: 8px;
    }
    .error {
        color: red;
    }
</style>

<div id="page-inner" ng-repeat="product in QuestionAnswerArray">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{product.name | uppercase}}</h2>            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary" >
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-striped table-hover" ng-repeat="questionAnswerArray in question | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <thead >
                                    <tr class="panel-title" >
                                        <td colspan="3" >
                                            {{$index + 1}} .- {{questionAnswerArray.question  || 'empty'}}
                                            <span ng-show="!questionAnswerArray.selectedAnswer" class="error">*</span>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr>
                                        <td ng-switch="answer.option" ng-repeat="answer in questionAnswerArray.listAnswerType">
                                            <div ng-init="addArray(questionAnswerArray.idBackPerAnswer, answer.option, $index)" ng-switch-when="RadioButton">
                                                <!--<label>{{answer.description}}</label>-->
                                                <div class="radio" ng-repeat="AnswerArray in answer.listAnswer">
                                                    
                                                    <label>
                                                        <input type="radio" ng-click="updateArray(AnswerArray, questionAnswerArray.idBackPerAnswer, 'RadioButton', $index)" ng-model="questionAnswerArray.selectedAnswer" name="answer-for-question-{{questionAnswerArray.idBackPerAnswer}}" value="{{AnswerArray.idBaseAnswer}}" ng-required="true">
                                                        {{AnswerArray.answer}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div  ng-switch-when="CheckBox">
                                                <!--<label>{{answer.description}}</label>-->
                                                <div ng-repeat="AnswerArray in answer.listAnswer" ng-init="addArray(questionAnswerArray.idBackPerAnswer, answer.option, $index)" class="checkbox">
                                                    <label>
                                                        <input ng-click="updateArrayCheck(AnswerArray, questionAnswerArray.idBackPerAnswer, $event, 'checkbox', $index)" type="checkbox" name="AnswerArray.answer" nvalue="{{AnswerArray.idBaseAnswer}}" ng-required="true">
                                                        {{AnswerArray.answer}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div ng-init="addArray(questionAnswerArray.idBackPerAnswer, answer.option, $index)" ng-switch-when="ComboBox">
                                                <!--<label>{{answer.description}}</label>-->
                                                <select ng-change="updateArray(selected, questionAnswerArray.idBackPerAnswer, 'ComboBox', $index)" class="form-control" ng-model="selected" ng-options="values.answer for values in answer.listAnswer" ng-required="true">
                                                    <option value=""> --- select a value --- </option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="TextBox">
                                                <input type="text" placeholder="{{answer.placeHolder}}" class="form-control" ng-required="true">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <center>
                                <ul class="pagination pagination-lg">
                                    <li>
                                        <a ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">« Prev</a>
                                    </li>
                                    <li>
                                        <a>{{currentPage+1}}/{{numberOfPages()}}</a>
                                    </li>
                                    <li>
                                        <a ng-disabled="currentPage >= question.length/pageSize - 1" ng-click="currentPage=currentPage+1"> Next »</a>
                                    </li>
                                </ul>
                            </center>
                          

                        </div>
                    </div>
                </div>
            </div>0
        </div>
    </div>
    <button type="button" ng-click="saveAnswer()" class="btn btn-primary">Save</button>
</div>


