<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="">
                    <div class="panel-heading"><strong class="panel-title">Login</strong></div><hr />
                    <div class=" panel-body">
                        <form class="form col-md-12 center-block">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    <input type="text" class="form-control input-lg" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" class="form-control input-lg" placeholder="Password" data-ng-model="loginData.password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()"><i class="fa fa-sign-in"></i> Sign in</button><br />
                                <div data-ng-hide="message == ''" class="alert alert-danger">
                                    {{message}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




