﻿<style>
    p {
        font-size: 200%;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }

    .azul {
        color: rgba(66, 139, 202, 1);
    }
</style>
<div id="page-inner">
    <div class="row">
        <div class="col-lg-12">
            <h2>User</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary" style="border-color:transparent;">
                <div class="panel-heading">
                    <h2 class="panel-title" ng-show="showTable">New user</h2>
                    <button class="btn btn-default" ng-click="showTable = true;" ng-hide="showTable"><span class="fa fa-file-text-o"></span> New User</button>
                    <input type="image" src="../../../../../Content/img/DOWNLOAD%20ICON-01.png" ng-click="exportData(usersArray)" style="float:right; height:35px;" ng-hide="showTable" />
                </div>
                <div class="panel-body">
                    <div ng-show="showTable">
                        <form name="userForm" ng-submit="saveUser();" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <label class="control-label">Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="newUser.name" required>
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.firstlastname.$invalid && !userForm.firstlastname.$pristine }">
                                <label class="control-label">First last name</label>
                                <input type="text" name="firstlastname" class="form-control" placeholder="first last name" ng-model="newUser.firstLastName" required>
                                <p ng-show="userForm.firstlastname.$invalid && !userForm.firstlastname.$pristine" class="help-block">You firstlastname is required.</p>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.secondtlastname.$invalid && !userForm.secondtlastname.$pristine }">
                                <label class="control-label">Second last name</label>
                                <input type="text" name="secondtlastname" class="form-control" placeholder="second last name" ng-model="newUser.secondLastName" required>
                                <p ng-show="userForm.secondtlastname.$invalid && !userForm.secondtlastname.$pristine" class="help-block">You secondtlastname is required.</p>

                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                <fieldset ng-form="UserFormFieldSet" class="dn-field-group reset">
                                    <label class="dn-field">
                                        <span class="dn-label">Email's <sub>(comma "," separated values)</sub></span>
                                    </label>
                                    <label class="dn-field">
                                        <span class="dn-input">
                                            <textarea rows="5" cols="100" ng-model="newUser.email" name="email" dn-email-custom-validation required></textarea>
                                        </span>
                                        <span class="dn-error-message" ng-show="UserFormFieldSet.email.$dirty">
                                            <span ng-show="UserFormFieldSet.email.$error.invalid">
                                                Please enter a valid Email address.
                                            </span>
                                        </span>
                                    </label>
                                </fieldset>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">You email is required.</p>

                            </div>
                                <!--<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                        <label class="control-label">Email</label>
                                        <input type="text" name="email" class="form-control" placeholder="email" ng-model="newUser.email" required>
                                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">You email is required.</p>

                                    </div>-->
                                <div class="form-group">
                                    <label class="control-label">Role</label>
                                    <select ng-change="checkAdmin(newUser.role);" class="form-control btn btn-default dropdown-toggle" name="roles" data-ng-model="newUser.role" data-ng-options="s.text as s.text for s in roles">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </div>
                            <div class="form-group" ng-hide="adminSelected">
                                <!--<label for="role" class="control-label">Product</label>
                                <select class="form-control btn btn-default dropdown-toggle" name="product" data-ng-model="newUser.IdProduct" data-ng-options="e.idProduct as e.name for e in productsArray">
                                    <option value="">-- Please select --</option>
                                </select>-->
                                <input type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" value="New Product">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover tableCat" style="width: 100%; height: 70vh">
                                        <thead class="theadCat">
                                            <tr style="width:100%">
                                                <th style=" width:60%;align-content:center" class="thCat">Question</th>
                                                <th style="width: 40%; text-align: center;" class="thCat"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbodyCat">
                                            <tr ng-repeat="product in arrayProduct">
                                                <td style=" width:60%;align-content:center">
                                                    <span>
                                                        <!--{{BaseQuestion.question}}-->
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap; text-align: center; width: 39%; ">
                                                    <div class="buttons">
                                                        <button class="btn btn-danger" ng-click="deleteProduct(product, $index)"><span class="fa fa-trash-o"></span> Delete</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                                    <label class="control-label">Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="username" ng-model="newUser.userName" required>
                                    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">You username is required.</p>

                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                                    <label class="control-label">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="*****" ng-model="newUser.password" required ng-minlength="6" ng-maxlength="10">
                                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">You password is required.</p>

                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="newUser.exportData">Export Excel
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid"><span class="fa fa-floppy-o"></span> Save</button>
                                <button type="submit" class="btn btn-danger" ng-click="showTable = false; CancelAddUser();"><span class="fa fa-times"></span> Cancel</button>
                                <!--<input type="button" class="btn btn-danger" ng-click="showTable = false; CancelAddUser();" value="Cancel">-->
</form>
                        <!--<div data-ng-hide="messageSuccesfullCreated == ''" class="alert">
                            {{messageSuccesfullCreated}}
                        </div>
                        <div data-ng-hide="errorMessageCreated == ''" class="alert alert-danger">
                            {{errorMessageCreated}}
                        </div>-->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover tableCat" ng-hide="showTable" style="width:100%;height:70vh">
                            <thead class="theadCat">
                                <tr style="width: 100%;">
                                    <th style="width:15%" class="thCat">Name</th>
                                    <!--<th style="width:15%" class="thCat">First Last Name</th>
                                    <th style="width:15%" class="thCat">Second Last Name</th>-->
                                    <th style="width:15%" class="thCat">Username</th>
                                    <th style="width: 15%; padding-left: 15px;" class="thCat">Password</th>
                                    <th style="width: 15%; padding-left: 15px;" class="thCat">Rol</th>
                                    <th style="width:20%; padding-left:0" class="thCat">Export data</th>
                                    <th style="width:20%" class="thCat"> </th>
                                </tr>
                            </thead>
                            <tbody class="tbodyCat">
                                <tr ng-repeat="user in usersArray">
                                    <td style="width: 15%; align-content:center;">
                                        <span editable-text="user.name" e-form="rowform" e-required>
                                            {{user.name + ' ' + user.firstLastName + ' ' + user.secondLastName}}
                                        </span>
                                    </td>
                                    <!--<td style="width:15%; align-content:center;">
                                        <span editable-text="user.firstLastName" e-form="rowform" e-required>
                                            {{user.firstLastName}}
                                        </span>
                                    </td>
                                    <td style="width:15%; align-content:center;">
                                        <span editable-text="user.secondLastName" e-form="rowform" e-required>
                                            {{user.secondLastName}}
                                        </span>
                                    </td>-->
                                    <td style="width:15%; align-content:center;">
                                        <span editable-text="user.userName" e-form="rowform" e-required>
                                            {{user.userName}}
                                        </span>
                                    </td>
                                    <td style="width: 15%;">
                                        <input type="password" name="pwd" value="123456789" disabled style="border:none; background-color:transparent;"> 
                                        <!--<span editable-text="user.password" e-form="rowform" e-required>
                                            {{user.password}}
                                        </span>-->
                                    </td>
                                    <td style="width:14%; align-content:center;">
                                        <span editable-text="user.role" e-form="rowform" e-required>
                                            {{user.role}}
                                        </span>
                                    </td>
                                    <td style="width:20%; align-content:center;">
                                        <a href="" class="not-active" editable-checkbox="user.exportData" e-title="" e-form="rowform" return false;>
                                            {{ user.exportData && "YES" || "NO" }}
                                        </a>
                                        <!--<input type="checkbox" ng-model="user.exportData" editable-check="user.exportData" e-form="rowform" e-required />-->
                                    </td>
                                    <td style="white-space: nowrap; text-align: center; width:20%;">
                                        <!-- form -->
                                        <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="updateUser(user, user.id)" class="form-buttons form-inline" shown="inserted == user">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success" ng-click="rowform.$cancel()">
                                                save
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-primary" ngEX-clickEX="rowform.$show()" ng-click="editUsertoForm(user);"><span class="fa fa-edit"></span> Edit</button>
                                            <button class="btn btn-danger" ng-click="deletUser(user, $index)"><span class="fa fa-trash-o"></span> Delete</button>
                                            <!--<button class="btn btn-danger" ng-click="exportAction()">pdf</button>-->

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Confirn Delet Product -->
    <div id="myModalDelet" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{DeletModal.title}}</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"> {{DeletModal.msg}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="confirm(DeletModal, index)" style="width: 100px;">
                        <span class="fa fa-check fa-lg"> </span> Ok
                    </button>
                    <button class="btn btn-danger" data-dismiss="modal" style="width: 100px;">
                        <span class="fa fa-times fa-lg"> </span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Confirn Delet Product -->
    <div id="myModalDeletError" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Error!</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"> {{success}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" style="width: 100px;">
                        <span class="fa fa-times fa-lg"> </span> Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Succes  -->
    <div id="myModalUser" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title"><span class="fa fa-exclamation-circle fa-2x azul"></span> Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"><span class="fa fa-check-circle fa-2x verde"></span> {{messageSuccesfullCreated}}</p>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" style="width: 100px;">
                        <i class="fa fa-check"></i>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">New Product</h4>
                    </div>
                    <div class="modal-body">
                        <label for="role" class="control-label">Product</label>
                        <!--<select class="form-control btn btn-default dropdown-toggle" name="product" ng-change="selectedProduct(e.name)" data-ng-options="e.name as e.name for e in usersArray">
                            <option value="">-- Please select --</option>
                        </select>-->
                        <span>
                            {{item.name}}
                        </span>
                        <select ng-model="selectedPorduct" ng-change="addProduct()" ng-options="item.name as item.name for item in usersArray"></select>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click="addProduct()"><span class="fa fa-floppy-o"></span> Save</button>
                        <button class="btn btn-danger" data-dismiss="modal" style="width: 100px;"><span class="fa fa-times"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<button ng-click='toggleModal()'>Open Modal Dialog</button>
    <modal-dialog show='modalShown' width='400px' height='60%'>
        <p>Modal Content Goes here<p>
    </modal-dialog>-->
</div>


