﻿body {
    background:#4D4D4D; 
    background-image:url("/Content/img/bg2.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}


/*Tables style */
.tableCat {

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    display: flex;

    flex-direction: column;

    align-items: stretch;


}


.tableCat * {

    box-sizing: inherit;

    -moz-box-sizing: inherit;

}


.theadCat {

    display: flex;
    width:100%;
    flex-direction: column;
    align-items: stretch;
    padding-left:0px;
    padding-right:15px;

}

.theadCat2 {

    
    width:100%;
    flex-direction: row;
    align-items: stretch;
    padding-left:0px;
    padding-right:15px;
}


.theadCat2 > th{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;


}



.tbodyCat {

    overflow-y: auto;

    display: inline-block;

}


.theadCat > tr, .tbodyCat > tr, .tfootCat > tr {

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    

}


.theadCat, .tfootCat {

    flex-shrink: 0;

}


.thCat, .tbodyCat td {

    /*width: 20%;*/ /* this can vary */

    overflow-x: hidden;

    text-overflow: ellipsis;

    display: inline-block;

    

}


.tfootCat {

    display: inline-block;

}


.tfootCat td {

    width: 100%;

    display: inline-block;

}

 .tableCat {
        height: 20vh;
    }


.notTable{
    background-color:#fff07d;
      
}
/*Tables Styles*/