﻿<div>
    <div class="panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="leyendText">Name</label>
                    <input type="text" class="form-control" id="leyendText" placeholder="Name" ng-model="AnswerOptionModel.Leyend">
                </div>
                <div class="form-group">
                    <label for="DescriptionText">Description</label>
                    <textarea class="form-control" id="DescriptionText" rows="3" placeholder="Description" ng-model="AnswerOptionModel.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="leyendText">Option Type</label>
                    <select class=" form-control btn btn-default dropdown-toggle" name="optionType" ng-model="OptionTypeModel" ng-options="optionType.name for optionType in OptionTypesArray"></select>
                </div>



                <hr />
                <h2>Options</h2>
                <hr />
                <answer-option-values-table>
                    <div class="pull-left">
                        <button class="btn btn-success" ng-click="saveAnswerOption()"><span class="fa fa-floppy-o"></span> Save</button>
                        <button class="btn btn-danger" ng-click="cancelSaveAnswerOption()"><span class="fa fa-times"></span> Cancel</button>
                    </div>
                </answer-option-values-table>
                <hr />
            </form>
        </div>
    </div>



</div>