﻿
<div class="panel panel-default" >
    <div class="panel-heading">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addAnswerToAnswerOption" data-whatever="@mdo">Add Answer</button>
    </div>
    <div class="modal fade" id="addAnswerToAnswerOption" tabindex="-1" role="dialog" aria-labelledby="addAnswerToAnswerOption" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addAnswerToAnswerOption">Select Option</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="baseAnswerList" class="control-label">Options:</label>
                            <select id="baseAnswerList" class=" form-control btn btn-default dropdown-toggle"
                                    name="BaseAnswer" ng-model="BaseAnswerModel" ng-options="BaseAnswer.answer for BaseAnswer in BaseAnswerArray"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addAnswerToOption()"><span class="fa fa-plus"></span> Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover tableCat" style="width:100%;height:200px">
            <thead class="theadCat">
                <tr style="width:100%">
                    <th style="width:40%;align-content:center" class="thCat">Id</th>
                    <th style="width:40%;align-content:center" class="thCat">Answer</th>
                    <th style="width: 30%; align-content: center" class="thCat"></th>
                </tr>
            </thead>
            <tbody class="tbodyCat">
                <tr ng-repeat="row  in AnswerOptionValuesArray">
                    <td style="width:40%;align-content:center">
                        <span>{{ row.idBaseAnswer}}</span>
                    </td>
                    <td style="width: 30%; align-content: center">
                        <span>{{ row.answer }}</span>
                    </td>
                    <td style="width: 30%; align-content: center">
                        <button type="button" class="btn btn-danger" ng-click="deleteAnswerForOption(row)"><span class="fa fa-trash-o"></span> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-transclude></ng-transclude>
    </div>
</div>