﻿
<div>
    <div class="panel-primary" ng-hide="perAnswerCreate">
        <div class="panel-heading">
            <h1>Answer Type</h1>
            <button class="btn btn-primary" ng-click="newAnswerType()">Add Answer Type</button>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-hover tableCat" style="width:100%;height:70vh">
                <thead class="theadCat">
                    <tr style="width:100%">
                        <th style="width:10%;align-content:center" class="thCat">Id</th>
                        <th style="width:40%; align-content: center" class="thCat">Description</th>
                        <th style="width:30%; align-content: center" class="thCat"></th>
                    </tr>
                </thead>
                <tbody class="tbodyCat">
                    <tr ng-repeat="row  in PerAnswerArray">
                        <td style="width:10%;align-content:center">
                            <span>{{ row.idPerAnswer}}</span>
                        </td>
                        <td style="width:40%; align-content: center">
                            <span>{{ row.description}}</span>
                        </td>
                        <td style="width:30%; align-content: center">
                            <button type="button" class="btn btn-primary" ng-click="editAnswerOption(row) ">Edit</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteAnswerOption(row) ">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <per-answer-create ng-show="perAnswerCreate">
    </per-answer-create>
</div>
