﻿<style>
    p {
        font-size: 200%;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }

    .azul {
        color: rgba(66, 139, 202, 1);
    }
</style>
<div>
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>Answer Options</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button class="btn btn-default" ng-click="newAnswerOption()">Add Answer Option</button>
                    </div>
                    <div class="panel-body" ng-hide="shAnswerOptionCreate">
                        <table class="table table-striped table-hover tableCat" style="width:100%;height:70vh">
                            <thead class="theadCat">
                                <tr style="width:100%">
                                    <th style="width:10%;align-content:center" class="thCat">Id</th>
                                    <th style="width:20%;align-content:center" class="thCat">Name </th>
                                    <th style="width:30%; align-content: center" class="thCat">Description</th>
                                    <th style="width:20%; align-content: center" class="thCat">Option Type</th>
                                    <th style="width:20%; align-content: center" class="thCat"></th>
                                </tr>
                            </thead>
                            <tbody class="tbodyCat">
                                <tr ng-repeat="row  in AnswerOptionArray">
                                    <td style="width:10%;align-content:center">
                                        <span>{{ row.idAnswerOption}}</span>
                                    </td>
                                    <td style="width:20%; align-content: center">
                                        <span>{{ row.leyend }}</span>
                                    </td>
                                    <td style="width:30%; align-content: center">
                                        <span>{{ row.description}}</span>
                                    </td>
                                    <td style="width:20%; align-content: center">
                                        <span>{{ row.optionTypeName}}</span>
                                    </td>
                                    <td style="width:20%; align-content: center">
                                        <button type="button" class="btn btn-primary" ng-click="editAnswerOption(row) "><span class="fa fa-edit"></span> Edit</button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteAnswerOption(row) "><span class="fa fa-trash-o"></span> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <answer-option-create ng-show="shAnswerOptionCreate"></answer-option-create>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirn Delet Product -->
    <div id="myModalDelet" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{DeletModal.title}}</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"> {{DeletModal.msg}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="confirm(DeletModal)" style="width: 100px;">
                        <span class="fa fa-check fa-lg"> </span> Ok
                    </button>
                    <button class="btn btn-danger" data-dismiss="modal" style="width: 100px;">
                        <span class="fa fa-times fa-lg"> </span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDelet2" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{DeletModal.title}}</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"> {{DeletModal.msg}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="confirm2(DeletModal)" style="width: 100px;">
                        <span class="fa fa-check fa-lg"> </span> Ok
                    </button>
                    <button class="btn btn-danger" data-dismiss="modal" style="width: 100px;">
                        <span class="fa fa-times fa-lg"> </span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Succes  -->
    <div id="myModalEditProduct" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title"><span class="fa fa-exclamation-circle fa-2x azul"></span> Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"><span class="fa fa-check-circle fa-2x verde"></span> {{success.msg}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" style="width: 100px;">
                        <i class="fa fa-check"></i>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Erro -->
    <div id="myModalError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-exclamation-circle fa-2x rojo"></span> Error</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-md-10"><p> {{error.msg}} </p></div>
                    </div>
                    <div class="row" ng-repeat="detalle in error.detalles">
                        <div class="col-sm-2"></div>
                        <div class="col-md-6"><i class="fa fa-asterisk rojo"></i><span style="font-size:16px"> {{detalle}}</span></div>
                    </div>

                    <!--<span class="fa fa-check-circle-o fa-2x verde"></span><p> {{success.msg}}</p>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg active" data-dismiss="modal">
                        <i class="fa fa-check"></i>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>



