﻿<div class="panel panel-primary" ng-hide="insertProduct">
    <div class="panel-heading">
        <h2 class="panel-title">New product</h2>
    </div>  
    <div class="panel-body">
        <form >
            <div class="form-group">
                <label class="control-label col-lg-2 ">Name</label>
                <input type="text" class="form-control" placeholder="Name Product" ng-model="newProducts.name" required>                
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Description</label>
                <textarea rows="5" id="comment" class="form-control" ng-model="newProducts.description" placeholder="Description product"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Theme</label>
                <input type="text" class="form-control" placeholder="Theme" ng-model="newProducts.theme">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Quiestion Per Page</label>
                <input type="number" class="form-control" ng-model="newProducts.questionsPerPage">
            </div>
        </form>
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus"></span> Add Question</button>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-hover tableCat" style="width: 100%; height: 200px">
                        <thead class="theadCat">
                            <tr style="width:100%">
                                <th style="width:40%;align-content:center" class="thCat">Question</th>
                                <th style="width:40%;align-content:center" class="thCat">Type Answer</th>
                                <th style="width:40%;align-content:center" class="thCat">Open Answer</th>
                                <th style="width:30%;align-content:center" class="thCat"></th>
                            </tr>
                        </thead>
                        <tbody class="tbodyCat">
                            <tr ng-repeat="QuestionsPerProduct in NewQuestionsPerProducts">
                                <td style="width: 40%; align-content: center;">
                                    {{QuestionsPerProduct.question}}
                                </td>
                                <td style="width: 40%; align-content: center;">
                                    <span editable-select="QuestionsPerProduct.idAnswerOption" e-name="idAnswerOption" onshow="loadGroups()" e-form="rowform" e-ng-options="g.idAnswerOption as g.description for g in groups">
                                        {{showStatus(QuestionsPerProduct)}}
                                    </span>

                                </td>
                                <td style="width: 40%; align-content: center;">
                                    <span editable-text="QuestionsPerProduct.PlaceHolder" e-name="PlaceHolder" e-form="rowform" e-required>
                                        {{ QuestionsPerProduct.PlaceHolder || '' }}
                                    </span>
                                </td>
                                <td style="width: 30%;  align-content: center">
                                    <form editable-form name="rowform" onbeforesave="saveNewAnswer($data, QuestionsPerProduct)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                                            <span class="fa fa-floppy-o"></span> Save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger">
                                            <span class="fa fa-times"></span> Cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-primary" ng-click="rowform.$show()"><span class="fa fa-edit"></span> Edit</button>
                                        <button class="btn btn-danger" ng-click="DeletQuestion()"><span class="fa fa-trash-o"></span> Delete</button>
                                        <button class="btn btn-info" ng-click="DetailAnswer(QuestionsPerProduct)"><span class="fa fa-info-circle"></span> Answer</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-success" ng-click="sendNewProducto()"><span class="fa fa-floppy-o"></span> Save</button>
                    <button class="btn btn-danger" ng-click="addProduct()"><span class="fa fa-times"></span> Cancel</button>
                </div>

            </div>
        </div>
        <!-- Modal Questions -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Question</h4>
                    </div>
                    <div class="modal-body">
                        <form name="QuestionsPerProductForm" id="QuestionsPerProductForm">
                            <div class="form-group">
                                <label for="Question">Question:</label>
                                <div class=" input-group Question-cmb-field">
                                    <div class="input-group-addon">
                                    </div>
                                    <select class="form-control btn btn-default dropdown-toggle" ng-model="QuestionsPerProduct.question" ng-options="BaseQuestion.question for BaseQuestion in arrayBaseQuestion">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Answer">Type Answer:</label>
                                <div class=" input-group Answer-cmb-field">
                                    <div class="input-group-addon">
                                    </div>
                                    <select class="form-control btn btn-default dropdown-toggle" ng-model="QuestionsPerProduct.description" ng-options="PerAnswer.description for PerAnswer in AnswerOptionArray">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label class="panel-title">
                                    <input type="checkbox" ng-model="QuestionsPerProduct.AddOpenAnswer" ng-change="QuestionsPerProduct.PlaceHolder = !QuestionsPerProduct.AddOpenAnswer ? '' : QuestionsPerProduct.PlaceHolder">Add open text field
                                </label>
                            </div>
                            <div class="form-group" ng-show="QuestionsPerProduct.AddOpenAnswer">
                                <label for="PlaceHolder">PlaceHolder</label>
                                <input type="text" class="form-control" id="PlaceHolder" placeholder="PlaceHolder" ng-model="QuestionsPerProduct.PlaceHolder" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="save(QuestionsPerProduct)" type="button" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Save </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Details -->
        <div id="myModalAnswer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Option Answer</h4>
                    </div>
                    <div class="modal-body">
                        <form name="formAnswer" id="formAnswer" ng-repeat="AnswerType in OptionAnswer">
                            <div class="form-group" ng-repeat="Answer in AnswerType.lstBaseAnswers">
                                <div class="input-group">
                                    <span class="input-group-addon">Answer:</span>
                                    <input type="text" class="form-control" id="answer" ng-model="Answer.answer" disabled="disabled" />
                                </div><br />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-times"></span> Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Succes  -->
        <div id="myModalMsg" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title"><span class="fa fa-exclamation-circle fa-2x azul"></span> Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        <p style="text-align:center;"><span class="fa fa-check-circle fa-2x verde"></span> {{success.msg}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" style="width: 100px;" ng-click="addProduct()">
                            <i class="fa fa-check"></i>
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Erro -->
        <div id="myModalError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span class="fa fa-exclamation-circle fa-2x rojo"></span> Error</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-md-10"><p> Please Complete the fields below</p></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-6"><i class="fa fa-asterisk rojo"></i><span style="font-size:16px"> Name</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-6"><i class="fa fa-asterisk rojo"></i><span style="font-size:16px"> Description</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-6"><i class="fa fa-asterisk rojo"></i><span style="font-size:16px"> Theme</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-6"><i class="fa fa-asterisk rojo"></i><span style="font-size:16px"> Question per page</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-6"><i class="fa fa-asterisk rojo"></i> <span style="font-size:16px"> Question</span></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg active" data-dismiss="modal">
                            <i class="fa fa-check"></i>
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





