﻿<style>
    p {
        font-size: 200%;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }
    .azul {
        color: rgba(66, 139, 202, 1);
    }
</style>
<div id="page-inner">
    <div class="row">
        <div class="col-lg-12">
            <h2>Product</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div>
                <mi-directiva></mi-directiva>
            </div>
            <div class="panel panel-primary" ng-show="insertProduct">
                <div class="panel-heading">
                    <button class="btn btn-default" ng-click="addProduct()"><span class="fa fa-file-text-o"></span> New Product</button>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover tableCat" style="width:100%;height:70vh">
                            <thead class="theadCat">
                                <tr style="width:100%">
                                    <th style="width:25%" class="thCat">Product Name</th>
                                    <th style="width:15%" class="thCat">Description</th>
                                    <th style="width:15%" class="thCat">Theme</th>
                                    <th style="width:15%" class="thCat">Question per Page</th>
                                    <th style="width:15%" class="thCat">Total Questions</th>
                                    <th style="width:15%" style="width: 25%; text-align: center;"></th>
                                </tr>
                            </thead>
                            <tbody class="tbodyCat">
                                <tr ng-repeat=" product in productArray">
                                    <td style="width:25%; align-content:center;">
                                        <span editable-text="product.name" e-name="name" e-form="rowform" e-required>
                                            {{product.name || 'empty'}}
                                        </span>
                                    </td>
                                    <td style="width:15%; align-content:center;">
                                        <span editable-text="product.description" e-name="description" e-form="rowform">
                                            {{product.description || 'empty'}}
                                        </span>
                                    </td>
                                    <td style="width:15%; align-content:center;">
                                        <span editable-text="product.theme" e-name="theme" e-form="rowform">
                                            {{product.theme || 'empty'}}
                                        </span>
                                    </td>
                                    <td style="width:15%; align-content:center;">
                                        <span editable-text="product.questionsPerPage" e-name="questionsPerPage" e-form="rowform">
                                            {{product.questionsPerPage || 'empty'}}
                                        </span>
                                    </td>
                                    <td style="width:15%; align-content:center;">
                                        <span>
                                            {{product.totalQuestion || 'empty'}}
                                        </span>
                                    </td>
                                    <td style="white-space: nowrap; text-align: center; width:15%;">
                                        <form editable-form name="rowform" onbeforesave="sendNewProducto($data, product)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                                                <span class="fa fa-floppy-o"></span>  Save
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" class="btn btn-danger" ng-click="rowform.$cancel()">
                                                <span class="fa fa-times"></span> Cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-primary" ng-click="editAnswerOption(product)"><span class="fa fa-edit"></span> Edit</button>
                                            <button class="btn btn-danger" ng-click="deletProduct(product, $index)"><span class="fa fa-trash-o"></span> Delete</button>
                                            <!--  -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal Confirn Delet Product -->
            <div id="myModalDelet" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">{{DeletModal.title}}</h3>
                        </div>
                        <div class="modal-body">
                            <p style="text-align:center;"> {{DeletModal.msg}}</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="confirm(DeletModal, index)" style="width: 100px;">
                                <span class="fa fa-check fa-lg"> </span> Ok
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal" style="width: 100px;">
                                <span class="fa fa-times fa-lg"> </span> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Succes  -->
            <div id="myModalEditProduct" class="modal fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title"><span class="fa fa-exclamation-circle fa-2x azul"></span> Confirmation</h3>
                        </div>
                        <div class="modal-body">
                            <p style="text-align:center;"><span class="fa fa-check-circle fa-2x verde"></span> {{success.msg}}</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" style="width: 100px;">
                                <i class="fa fa-check"></i>
                                OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



