﻿<div class="panel panel-primary">
    
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="DescriptionText">Description</label>
                <textarea class="form-control" id="DescriptionText" rows="3" placeholder="Description" ng-model="PerAnswerModel.Description"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="PerAnswerModel.AddOpenAnswer"> Add open text field
                </label>
            </div>
            <div class="form-group" ng-show="PerAnswerModel.AddOpenAnswer">
                <label for="PlaceHolder">PlaceHolder</label>
                <input type="text" class="form-control" id="PlaceHolder" placeholder="PlaceHolder" ng-model="PerAnswerModel.PlaceHolder" />
            </div>
            <hr />
            <h2>Options</h2>
            <hr />
            <per-answer-options-table>
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="saveAnswerType()">Save</button>
                    <button class="btn btn-danger" ng-click="cancelSaveAnswerType()">Cancel</button>
                </div>
            </per-answer-options-table>
            <hr />
        </form>

    </div>


</div>