﻿<div class="panel panel-primary">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOptionToAnswerType">Add Answer</button>
    <hr />

    <div class="modal fade" id="addOptionToAnswerType" tabindex="-1" role="dialog" aria-labelledby="addOptionToAnswerType">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addOptionToAnswerType">Select Answer Option</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="baseAnswerList" class="control-label">Options:</label>
                            <select id="baseAnswerList" class=" form-control btn btn-default dropdown-toggle"
                                    name="BaseAnswer" ng-model="AnswerOptionModel" ng-options="AnswerOption.leyend for AnswerOption in AnswerOptionArray"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addOptionToAnswerType()">Select</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover tableCat" style="width:100%;height:200px">
            <thead class="theadCat">
                <tr style="width:100%">
                    <th style="width:10%;align-content:center" class="thCat">Id</th>
                    <th style="width:20%;align-content:center" class="thCat">Answer Option</th>
                    <th style="width:30%;align-content:center" class="thCat">Description</th>
                    <th style="width:20%;align-content:center" class="thCat">Option Type</th>
                    <th style="width:20%;align-content: center" class="thCat"></th>
                </tr>
            </thead>
            <tbody class="tbodyCat">
                <tr ng-repeat="row in BackPerAnswerArray">
                    <td style="width:10%;align-content:center">
                        <span>{{ row.idAnswerOption}}</span>
                    </td>
                    <td style="width:20%; align-content: center">
                        <span>{{ row.leyend }}</span>
                    </td>
                    <td style="width: 30%; align-content: center">
                        <span>{{ row.description }}</span>
                    </td>
                    <td style="width:20%; align-content: center">
                        <span>{{ row.optionTypeName }}</span>
                    </td>
                    <td style="width:20%; align-content: center">
                        <button type="button" class="btn btn-danger" ng-click="deleteOptionForAnswer(row) ">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-transclude></ng-transclude>
    </div>


</div>